<!--
    <app-customer></app-customer>
    <app-pizza></app-pizza>
-->

<header>
    <nav>
        <ul>
            <li><a routerLink="/" [routerLinkActive]="['linkAtivo']" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/cadastro-cliente/everton/123" [routerLinkActive]="['linkAtivo']" [routerLinkActiveOptions]="{exact:true}">Cadastro de Cliente</a></li>
            <li><a routerLink="/cadastro-pizza" [routerLinkActive]="['linkAtivo']" [routerLinkActiveOptions]="{exact:true}">Cadastro de Pizzas</a></li>
            <li><a routerLink="/pedido" [routerLinkActive]="['linkAtivo']" [routerLinkActiveOptions]="{exact:true}">Pedidos</a></li>
            <li><a routerLink="/404" [routerLinkActive]="['linkAtivo']" [routerLinkActiveOptions]="{exact:true}">Erro 404</a></li>
        </ul>
    </nav>
</header>
<hr>
<router-outlet></router-outlet>
